<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by <a href="https://github.com/wporta">Wilfredo Porta</a>. It uses data from <a href="https://openweathermap.org">openweathermap.org</a> and <a href="https://mapbox.com">mapbox.com</a></p>

            <h2>Built using:</h2>
            <img src="img/logo.png" alt="" class="portrait" />
        </div>
        {{>footer}}
    </body>
</html>
